nav 
  a(href="/") Karla Walker 
  if title === 'Karla Walker'
    .nav-links
      a(href="#intro") Bio 
      a(href="#projects") Projects  
      a(href="#contact") Contact  
  else 
    .nav-links 
      a(href="#projects") More Projects
