body {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
}

a {
  font-size: 1rem;
}

.intro {
  &-header h1 {
    font-size: clamp(1.74rem, 4vw + 1rem, 3.5rem);
    font-weight: 700;
    line-height: 1.1;
  }
}

.projects h2,
.skills h2 {
  font-size: 1.5rem;
  font-weight: 700;
  // text-transform: uppercase;
}

.projects-cards {
  & .card {
    & a {
      font-size: 1.125rem;
      font-weight: 400;
    }
    & p {
      font-size: 1rem;
    }
  }
}

.pills {
  font-size: 1rem;
}

.project-intro {
  & h1 {
    font-size: 2.1875rem;
  }
}
