---
title: "Mass Effect Codex"
shortDescription: "A fully responsive site featuring the Mass Effect codex entries you unlock while progressing through the game. "
longDescription: "This is where the introduction for the project goes. Describe the project, what it does, and any other details you deem necessary without making it too long. Below, add the tech stack and links to the repo and live site."
techStack: ['React', 'SQL', 'Express']
goalText: ['Jelly-o topping danish lollipop sugar plum shortbread. Cheesecake bear claw bear claw candy canes gummi bears jujubes. Jelly-o topping topping cupcake powder.', 'Pudding carrot cake jelly-o fruitcake candy canes. Jelly-o biscuit caramels jujubes lollipop danish sesame snaps. Danish caramels chocolate marshmallow biscuit sugar plum fruitcake. ']
challengesText: ['This is where you explain what inspired you to build this project and what the goal or general purpose of the project is.', 'Fruitcake gingerbread gummies sweet roll pudding. Oat cake macaroon soufflé jujubes jelly beans powder. Cake cake marshmallow chocolate cake muffin macaroon sugar plum jelly beans.']
conclusionText: ['Fruitcake gingerbread gummies sweet roll pudding. Oat cake macaroon soufflé jujubes jelly beans powder. Cake cake marshmallow chocolate cake muffin macaroon sugar plum jelly beans.']
---

include ../_includes/project-base.pug